@CHARSET "UTF-8";

#menu .ui-menu {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#menu .ui-menu .ui-widget-header {
    background: #152130;
}

.ui-menu-list {
    width: 100%;
    flex: 1;
}

div #login .ui-panelgrid {
    width: 400px;
}

body .ui-datatable-header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body .ui-button {
    color: var(--surface-900);
    background: var(--blue-700);
}

body .ui-button.ui-state-hover {
    background: var(--blue-500);
    color: var(--surface-900);
}

body .ui-button.ui-button-secondary {
    background: var(--bluegray-600);
    color: var(--surface-900);
    border: 1px solid var(--bluegray-600);
}

body .ui-button.ui-button-secondary.ui-state-hover {
    background: var(--bluegray-400);
    color: var(--surface-0);
    border: 1px solid var(--bluegray-400);
}

body .ui-button.ui-button-success {
    background: var(--green-700);
    color: var(--surface-900);
    border: 1px solid var(--green-700);
}

body .ui-button.ui-button-success.ui-state-hover {
    background: var(--green-500);
    color: var(--surface-900);
    border: 1px solid var(--green-500);
}

body .ui-button.ui-button-danger {
    background: var(--red-700);
    color: var(--surface-900);
    border: 1px solid var(--red-700);
}

body .ui-button.ui-button-danger.ui-state-hover {
    background: var(--red-500);
    color: var(--surface-900);
    border: 1px solid var(--red-500);
}

body .ui-inputfield {
    background: var(--surface-900);
    color: var(--surface-0)
}

body .ui-panel .ui-panel-content {
    border-top: 0 none;
    color: var(--surface-0);
    background: var(--surface-900);
}

body .ui-panel .ui-panel-footer {
    background: var(--surface-900);
}

[id$="languagebar-form:languagebar"] ul.ui-menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

[id$="menubar-form:menubar"] ul.ui-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body [id$="cliente-form:dataNascimento_input"], body [id$="dependente-form:dataNascimento_input"] {
    width: 16.6667%;
}

body [id$="dependente-form:cliente_input"] {
    width: 100%;
}

body .ui-panel-content .ui-toolbar {
    border: none;
    padding-bottom: 1rem;
    justify-content: flex-end;
    color: var(--surface-900);
    background: var(--surface-900);
}

body .ui-datatable thead th {
    background: var(--surface-800);
    color: var(--surface-0);
}

body .ui-datatable thead th.ui-sortable-column.ui-state-focus {
    box-shadow: inset 0 0 0 1px var(--surface-900);
}

body .ui-datatable thead th.ui-state-active, body .ui-datatable thead th.ui-state-hover, body .ui-datatable thead th.ui-state-active.ui-state-hover {
    background: var(--surface-800);
    color: var(--surface-0);
}

body .ui-datatable .ui-datatable-data > tr {
    background: var(--surface-900);
    color: var(--surface-0);
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s, opacity .2s;
}

body .ui-datatable .ui-datatable-data > tr.ui-state-hover, body .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background: var(--surface-900);
    color: var(--surface-0);
}

body .ui-datatable .ui-datatable-footer {
    background: var(--surface-800);
    color: var(--surface-0);
}

body .ui-paginator {
    background: var(--surface-800);
    border: solid var(--surface-0);
    border-width: 1px;
    padding: 1rem;
}

body .ui-paginator .ui-paginator-first, body .ui-paginator .ui-paginator-prev, body .ui-paginator .ui-paginator-next, body .ui-paginator .ui-paginator-last {
    color: var(--surface-0);
    width: 2.286em;
    height: 2.286em;
    margin: 0 .125em;
    vertical-align: top;
    padding: 0;
    border-radius: 4px;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s, opacity .2s;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: var(--surface-0);
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: var(--surface-300);
    color: var(--surface-900);
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-hover {
    background: var(--surface-600);
    color: var(--surface-900);
}

body .ui-linkbutton.ui-button.ui-state-default > a {
    color: inherit;
    text-decoration: none;
}

body .ui-dialog .ui-dialog-titlebar {
    padding: 0.75rem;
}

body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
    padding: 2rem 1.5rem 2rem 1.5rem;
}

body .ui-dialog .ui-dialog-content, body .ui-dialog .ui-dialog-footer {
    background: var(--surface-900);
    color: var(--surface-0);
}

body .ui-autocomplete-panel {
    padding: 0;
    background: var(--surface-800);
    color: var(--surface-0);
    border: 1px solid var(--surface-900);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.16);
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item, body .ui-autocomplete-panel .ui-autocomplete-emptyMessage, body .ui-autocomplete-panel .ui-autocomplete-empty-message {
    color: var(--surface-0);
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: var(--surface-600);
    color: var(--surface-0);
}
