@CHARSET "UTF-8";

#menu .ui-menu {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

#menu .ui-menu .ui-widget-header {
    background: #152130;
}

.ui-menu-list {
    width: 100%;
    flex: 1;
}

div #login .ui-panelgrid {
    width: 400px;
}

body .ui-button {
    color: var(--surface-900);
    background: var(--blue-700);
}

body .ui-button.ui-state-hover {
    background: var(--blue-500);
    color: var(--surface-900);
}

body .ui-inputfield {
	background: var(--surface-900);
    color: var(--surface-0)
}

body .ui-panel .ui-panel-content {
	border-top: 0 none;
	color: var(--surface-0);
	background: var(--surface-900);
}

body .ui-panel .ui-panel-footer {
    background: var(--surface-900);
}

[id$="languagebar-form:languagebar"] ul.ui-menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

[id$="menubar-form:menubar"] ul.ui-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}